/* h1.special, li.special{
    color:blue;
    font-weight: bold;
} */

/* li em{
    background-color: black;
    color:aliceblue
} */

h2+p{
    color: blueviolet;
}

a:hover{
    color: red;
    background-color:darkblue;
}

li[class~="a"]{
    color:blueviolet;
}

*{
    list-style: none;
    color: blue;
}